# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# Firebase service files
GoogleService-Info.plist
google-services.json

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# Firebase credentials
config/firebase.creds.ts

# Google Play Store service account key
play-store-key.json
